# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
dist/
build/

# Environment
.env

# Data (large files)
data/raw/
models/*.pkl
models/*.joblib

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/
*.ipynb_metadata

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
